// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #0bb17f;

// Override Bootstrap color system

$orange: #000000;

// Override Bootstrap default state colors

$primary: $orange;
